.selection-display-container {
  align-content: space-between;
  background-image: url('../../assets/images/bg-triangle.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  width: 100%;
  .top-row,
  .bottom-row {
    display: flex;
    flex: 1 1 100%;
  }
  .top-row {
    justify-content: space-around;
  }
  .bottom-row {
    justify-content: center;
  }
}
