.header-container {
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.score-container {
  background: #fff;
  border-radius: 6px;
  color: hsl(229, 64%, 46%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 10px 20px;
  .score-header {
    font-weight: 600;
  }
  .score {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
  }
}
